<!-- <button (click)="Additems()">

  </button> -->

<gridster [options]="options">
  <gridster-item [item]="track" *ngFor="let track of tracks;let i = index;" >
    <div class="board" class="col-lg-12">
      <!-- <div *ngFor="let track of tracks;let i = index;"> -->
      <div *ngFor="let item of track.items;trackBy:RandomCol(i)" >
        <!-- <mat-card style="margin: 1rem; cursor: move !important;border:1px solid #dfdfdf" cdkDrag
            cdkDragBoundary=".example-boundary"> -->
        <div class="header">
          <div style="float: left;font-weight: 600;">
            {{item.name}}
          </div>
          <div class="Two">
            <mat-icon style="cursor:pointer;" (click)="RefreshCard(item.id)">sync</mat-icon>
            <mat-icon (click)="DeleteFromDashboard(item.id)" style="cursor:pointer;">delete</mat-icon>
          </div>
        </div>
        <ng-template appDashboardOutlet [item]="item" #ItemsRef></ng-template>
        <!-- </mat-card> -->
      </div>
      <!-- </div> -->
    </div>
  </gridster-item>
</gridster>